<div class="container">
    <input id="id" type="hidden" value="{{acao.code}}">
    <div class="heroBar">
        <h1>Detalhes {{acao.code}}</h1>
    </div>
    <h3>Dados Básicos</h3>
    <div class="line">
        <span class="title">Cotação:</span>
        <span class="data" id="cotacao">{{acao.price}}</span>
    </div>
    <div class="line">
        <span class="title">Papel:</span>
        <span class="data">{{acao.code}}</span>
    </div>
    <div class="line">
        <span class="title">Nome da Empresa:</span>
        <span class="data" id="nomeEmpresa">{{acao.name}}</span>
    </div>
    <div class="line">
        <span class="title">Data últ cot:</span>
        <span class="data" id="dataUltCotacao">...</span>
    </div>
    <div class="line">
        <span class="title">Setor:</span>
        <span class="data" id="setor">...</span>
    </div>
    <div class="line">
        <span class="title">Subsetor:</span>
        <span class="data" id="subSetor">...</span>
    </div>
    <div class="line">
        <span class="title">Min 52 sem:</span>
        <span class="data" id="min52sem">...</span>
    </div>
    <div class="line">
        <span class="title">Max 52 sem:</span>
        <span class="data" id="max52sem">...</span>
    </div>
    <div class="line">
        <span class="title">Valor de mercado:</span>
        <span class="data" id="valorMercado">...</span>
    </div>
    <div class="line">
        <span class="title">Valor da firma:</span>
        <span class="data" id="valorFirma">...</span>
    </div>
    <div class="line">
        <span class="title">Últ balanço processado:</span>
        <span class="data" id="ultBalancoProc">...</span>
    </div>
    <div class="line">
        <span class="title">Nro. Ações:</span>
        <span class="data" id="nroAcoes">...</span>
    </div>
    <h3>Indicadores fundamentalistas</h3>
    <div class="line">
        <span class="title">P/L</span>
        <span class="data" id="pl">...</span>
    </div>
    <div class="line">
        <span class="title">LPA</span>
        <span class="data" id="lpa">...</span>
    </div>
    <div class="line">
        <span class="title">P/VP</span>
        <span class="data" id="p_vp">...</span>
    </div>
    <div class="line">
        <span class="title">VPA</span>
        <span class="data" id="vpa">...</span>
    </div>
    <div class="line">
        <span class="title">P/EBIT</span>
        <span class="data" id="p_ebit">...</span>
    </div>
    <div class="line">
        <span class="title">Marg. Bruta</span>
        <span class="data" id="margBrut">...</span>
    </div>
    <div class="line">
        <span class="title">PSR</span>
        <span class="data" id="psr">...</span>
    </div>
    <div class="line">
        <span class="title">Marg. EBIT</span>
        <span class="data" id="margEbit">...</span>
    </div>
    <div class="line">
        <span class="title">P/Ativos</span>
        <span class="data" id="p_ativos">...</span>
    </div>
    <div class="line">
        <span class="title">Marg. Líquida</span>
        <span class="data" id="margLiquida">...</span>
    </div>
    <div class="line">
        <span class="title">P/Cap. Giro</span>
        <span class="data" id="p_capGiro">...</span>
    </div>
    <div class="line">
        <span class="title">EBIT / Ativo</span>
        <span class="data" id="ebit_Ativo">...</span>
    </div>
    <div class="line">
        <span class="title">P/Ativ Circ Liq</span>
        <span class="data" id="p_ativCircLiq">...</span>
    </div>
    <div class="line">
        <span class="title">ROIC</span>
        <span class="data" id="roic">...</span>
    </div>
    <div class="line">
        <span class="title">Div. Yield</span>
        <span class="data" id="divYeld">...</span>
    </div>
    <div class="line">
        <span class="title">ROE</span>
        <span class="data" id="roe">...</span>
    </div>
    <div class="line">
        <span class="title">EV / EBITDA</span>
        <span class="data" id="ev_Ebitda">...</span>
    </div>
    <div class="line">
        <span class="title">Liquidez Corr</span>
        <span class="data" id="liqCorrente">...</span>
    </div>
    <div class="line">
        <span class="title">EV / EBIT</span>
        <span class="data" id="ev_Ebit">...</span>
    </div>
    <div class="line">
        <span class="title">Div Br/ Patrim</span>
        <span class="data" id="divBr_patrim">...</span>
    </div>
    <div class="line">
        <span class="title">Cres. Rec (5a)</span>
        <span class="data" id="cresRec5anos">...</span>
    </div>
    <div class="line">
        <span class="title">Giro Ativos</span>
        <span class="data" id="girosAtivos">...</span>
    </div>
    <h3>Demonstrativo de resultados - Últimos 12 meses</h3>
    <div class="line">
        <span class="title">Receita Líquida</span>
        <span class="data" id="receitaLiquida12meses">...</span>
    </div>
    <div class="line">
        <span class="title">EBIT</span>
        <span class="data" id="ebit12meses">...</span>
    </div>
    <div class="line">
        <span class="title">Lucro Líquido</span>
        <span class="data" id="lucroLiquido12meses">...</span>
    </div>
    <h3>Demonstrativo de resultados - Últimos 3 anos</h3>
    <div class="line">
        <span class="title">Receita Líquida</span>
        <span class="data" id="receitaLiquida3meses">...</span>
    </div>
    <div class="line">
        <span class="title">EBIT</span>
        <span class="data" id="ebit3meses">...</span>
    </div>
    <div class="line">
        <span class="title">Lucro Líquido</span>
        <span class="data" id="lucroLiquido3meses">...</span>
    </div>
</div>

<script>
    // obtém o nome da ação já renderizada na página
    let acao = document.getElementById('id').value
    // inicia o processo de busca das informações detalhadas da ação
    scraping(acao)

    /* Função que obtem os dados detalhados de cada ação no site fundamentus.com */
    async function scraping(acao) {
        const url = `https://www.fundamentus.com.br/detalhes.php?papel=${acao}`;
        const response = await fetch(`https://api.allorigins.win/get?charset=ISO-8859-1&url=${encodeURIComponent(url)}`)
        if (!response.ok) throw new Error('Network response was not ok.')
        const data = await response.json()
        // inicia o processo de preenchimento dos dados na tela
        fillData(data.contents)
    }

    /* Função que realiza o scraping nos dados retornados do site fundamentus.com */
    function fillData(html) {
        // converte o texto da página html em uma estrutura DOM
        const doc = new DOMParser().parseFromString(html, "text/html");
        // captura um array com as 5 tabelas de informações dos dados ('critério específico do site fundamentus.com')
        const tables = Array.from(doc.getElementsByClassName("w728"))
        tables.map((table, index) => {
            switch (index) {
                case 0: fillTable1(table); break;
                case 1: fillTable2(table); break;
                case 2: fillTable3(table); break;
                case 4: fillTable5(table); break;
            }
        })
    }

    /* Funções de apoio. Para preencher os dados de detalhes da ação na tela */
    function fillTable1(table) {
        const fields = Array.from(table.querySelectorAll("td.data"))
        document.getElementById("cotacao").innerHTML = fields[1].textContent
        document.getElementById("dataUltCotacao").innerHTML = fields[3].textContent
        document.getElementById("nomeEmpresa").innerHTML = fields[4].textContent
        document.getElementById("min52sem").innerHTML = fields[5].textContent
        document.getElementById("setor").innerHTML = fields[6].textContent
        document.getElementById("max52sem").innerHTML = fields[7].textContent
        document.getElementById("subSetor").innerHTML = fields[8].textContent
    }
    function fillTable2(table) {
        const fields = Array.from(table.querySelectorAll("td.data"))
        document.getElementById("valorMercado").innerHTML = fields[0].textContent
        document.getElementById("ultBalancoProc").innerHTML = fields[1].textContent
        document.getElementById("valorFirma").innerHTML = fields[2].textContent
        document.getElementById("nroAcoes").innerHTML = fields[3].textContent
    }
    function fillTable3(table) {
        const fields = Array.from(table.querySelectorAll("td.data span.txt"))
        document.getElementById("pl").innerHTML = fields[0].textContent
        document.getElementById("lpa").innerHTML = fields[1].textContent
        document.getElementById("p_vp").innerHTML = fields[2].textContent
        document.getElementById("vpa").innerHTML = fields[3].textContent
        document.getElementById("p_ebit").innerHTML = fields[4].textContent
        document.getElementById("margBrut").innerHTML = fields[5].textContent
        document.getElementById("psr").innerHTML = fields[6].textContent
        document.getElementById("margEbit").innerHTML = fields[7].textContent
        document.getElementById("p_ativos").innerHTML = fields[8].textContent
        document.getElementById("margLiquida").innerHTML = fields[9].textContent
        document.getElementById("p_capGiro").innerHTML = fields[10].textContent
        document.getElementById("ebit_Ativo").innerHTML = fields[11].textContent
        document.getElementById("p_ativCircLiq").innerHTML = fields[12].textContent
        document.getElementById("roic").innerHTML = fields[13].textContent
        document.getElementById("divYeld").innerHTML = fields[14].textContent
        document.getElementById("roe").innerHTML = fields[15].textContent
        document.getElementById("ev_Ebitda").innerHTML = fields[16].textContent
        document.getElementById("liqCorrente").innerHTML = fields[17].textContent
        document.getElementById("ev_Ebit").innerHTML = fields[18].textContent
        document.getElementById("divBr_patrim").innerHTML = fields[19].textContent
        document.getElementById("cresRec5anos").innerHTML = fields[20].textContent
        document.getElementById("girosAtivos").innerHTML = fields[21].textContent
    }
    function fillTable5(table) {
        const fields = Array.from(table.querySelectorAll("td.data span.txt"))
        document.getElementById("receitaLiquida12meses").innerHTML = fields[0].textContent
        document.getElementById("receitaLiquida3meses").innerHTML = fields[1].textContent
        document.getElementById("ebit12meses").innerHTML = fields[2].textContent
        document.getElementById("ebit3meses").innerHTML = fields[3].textContent
        document.getElementById("lucroLiquido12meses").innerHTML = fields[4].textContent
        document.getElementById("lucroLiquido3meses").innerHTML = fields[5].textContent
    }
</script>